{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center my-4">
    <div class="card col col-xs-12 col-md-6 mx-2">
      <form method="post" class="m-2">
        {% csrf_token %}
        <div class="row justify-content-center">
          <p>Please specify your email address to receive instructions for resetting it.</p>
          {{ form.email.errors }}
          <p>
            <label for="id_email" class="control-label required-field">E-mail address:</label>
            {{ form.email }}
        </div>
        <div class="row justify-content-center">
          <input type="submit" value="Reset password" class="btn btn-primary my-2" /></p>
        </div>
      </form>
    </div>
    <br>
  </div>
</div>

{% endblock %}