{% extends "base.html" %}
{% block title %}Setting New password{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center my-4">
        <div class="card col-xs-12 col-md-4">
            {% if validlink %}
            <p>Please enter your new password twice.<br />
                So we can verify you typed it in correctly.</p>
            <form action="" method="post" class="m-2">
                {% csrf_token %}
                <div class="row justify-content-between mb-1">
                    <label for="id_new_password1">New password:</label>
                    {{ form.new_password1 }}
                </div>
                <div class="row justify-content-between mb-1">
                    <label for="id_new_password1">Confirm password:</label>
                    {{ form.new_password2 }}
                </div>
                <div class="row justify-content-center">
                    <input type="submit" value="Change my password" class="btn btn-primary" />
                </div>
            </form>
            {% else %}
            <h1>Password reset unsuccessful</h1>
            <p>The password reset link was invalid, <br />
                possibly because it has already been used. <br />
                Please request a new password reset.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}