{% extends 'base.html'%}

{% load static %}

{% block content %}
<div class="page container">
    <div class="card my-4">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <img src="{{product.img.url}}" class="card-img-top">
            </div>
            <div class="col col-md6 col-xs-12 m-4">
                <h5 class="card-title">{{ product.name }}</h5>
                <p>Category: <strong>{{ product.product_type|lower|capfirst }}</strong></p>
                <p class="card-text">{{ product.description }}</p>
            </div>
        </div>
    </div>
    <div class="card my-4">
        <form method="POST" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="row my-4 mx-2 align-content-center">
                <div class="col-xs-12 col-md-6 product-details-center-left">
                    <h5>Price: <strong>{{ product.price }}EUR</strong></h5>
                </div>
                <div class="col-xs-12 col-md-6 product-details-center-right">
                    <h5>Quantity <input name="quantity" type="number" value="1" /></h5>
                </div>
            </div>
            <div class="row my-4 mx-2 align-content-center">
                <div class="col col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block" style="font-size: 1.5em;">Add to
                        cart</button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="row justify-content-between mx-2">
        <h2>Reviews</h2>
        {% if owns_product %}
        <a href="{% url 'write-review' %}?id={{product.id}}"><button class="btn btn-primary">Write a review</button></a>
        {% endif %}
    </div>
    <div class="row mx-2">
        {% if not owns_product %}
        <p>You don't own this product so you can't write a review.</p>
        {% endif %}
    </div>
    {% if reviews %}
    {% for review in reviews %}
    <div class="card my-4">
        <div class="row">
            <div class="col col-xs-12 m-4">
                <p>{{ review.date_created }}</p>
                <h6><strong>{{ review.user.username }}</strong></h6>
                <h5>{{ review.title }}</h5>
                <p>{{ review.review }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row mx-2">
        <p>No reviews for this product yet.</p>
    </div>
    {% endif %}
</div>
{% endblock %}