{% extends "base.html" %}

{% load bootstrap_tags %}

{% block content %}
<div class="page container">
    <div class="row justify-content-center">
        <!-- Responsive Sign in form -->
        <div class="col-lg-6 m-5">
            <form method="post" action="{% url 'sign-in' %}?next={{ next }}">
                <legend>Sign in</legend>
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>
            <a href="{% url 'password_reset' %}">Forgot password?</a>
        </div>
    </div>
</div>



{% endblock %}